---
import HeaderButton from './HeaderButton.astro'
---

<div class='bg-lightPink'>
  <nav class='flex flex-row w-full justify-center'>
    <ul class='flex flex-row justify-around gap-10 items-center p-6'>
      <HeaderButton link=''>Inicio</HeaderButton>
      <HeaderButton link='cabins'>Cabañas</HeaderButton>
      <HeaderButton link=''>Detalles</HeaderButton>
      <HeaderButton link=''>Rentar</HeaderButton>
    </ul>
  </nav>
</div>
